.bookElementClient{
    border: 1px solid black;
    border-radius: 1px;
    margin: 30px 1px 1px 1px;
    position: relative;
    float: left;
    width: 250px;
    padding: 15px;
    overflow: hidden;
    
}

.text{
    position: absolute;
    width: 100px;
    right: 5%;
    float:right;
    top:5%;
}

.bookElementClient:hover{
    opacity: 0.7;
}

.bookImage{
    display: block;
    align-content: center;
    width: 100px;
    height: 125px;
}

.bookClientButton{
    background-color: #74B3CE;
    color: white;
    
    position: absolute;
    cursor: pointer;
    float: left;
    margin: 0px;
    padding: 2%;
    right: 5%;
    bottom: 5%;
}
