*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.bookElement{
    margin-top: 1px;
    border-bottom: 1px solid black;
    float: right;
    width: 60%;
    height: 45px;
    overflow: hidden;
}

.bookElement:hover{
    overflow: visible;
    opacity: 0.5;
}

.listLabel{
    background: #333 ;
    display: block;
    float: right;
    width: 830px;
    padding: 5px;
    color: white;
}

.bookText{
    float:left;
    margin-left: 12px;
    width: 120px;
    overflow: hidden;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bookElement button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    float:right;    
    padding: 2px; 
    margin-right: 12px;
    margin:3px;
    background: white;
    border: black 1.5px solid;
    border-radius: 10px;
}

.inputBox, .form{
    max-width: 238px;
    background: #333;
    float:left;
    
}
.form{
    padding: 10px;
}
.inputBox > li{
    display: grid;
    grid-template-columns: 70px 148px;
    margin-bottom: 10px; 
    color: white;
}
.btn{
    float: right;
}
.label{
    color: white;
    padding: 5px;
    padding-bottom: 20px;  
    text-align: center;
}


.listcontainer{
    margin-top: 30px;
}



.booklist{
    
    display: inline-block;
    width: 1400px;
}

