.cartContainer{
    float:right;
    margin: 30px 60px;
    width: 300px;
    flex-grow: 0;
    border: red 1px solid;
}

.cartElement{
    padding: 5px;
    text-align: left;
    border: #333 solid 2px;
    margin:1px;
}

.cartElement a{
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    background-color: #333;
    color: white;
    float:right;
}

.cartSaveButton{
    border: solid #333 1px;
    cursor: pointer;
}