.clientPageBooksContainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-grow: 1;
    float: left;
    width: 1000px;
}

.clientPageContainer{
    display: flex; 
    justify-content: space-evenly;
    margin: 0px 2vw; 
      
}