.header{
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: 2fr;
    background-color: #333;  

    padding: 5px;
}

.signButton {
    color: white ;
    cursor: pointer;
    padding: 3%;
}
.signButton a{
    background-color: #4CAF50;
    padding: 3%;
}

.links a{
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#linkToSignUp{
    color: white;
    text-decoration: none;
}

.signButtonContainer{
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 4vw 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "login login"
    "signin signup"
}

.loginContainer{
    grid-area: login;
}
.loggedInfoContainer{
}
.loggedUserInfo{
}


.searchContainer{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "y sign search"
}
.searchContainer p{
    font-size: 1vw;
    color:white;
    grid-area: sign;
}
.search{
    grid-area: search;
    height:1vw;
}

