.signButton {
    padding: 13px;
    text-decoration: none;
    color: black;
    background-color:  #ddd;
    border: 1px solid #333
}

.signButtonContainer{
    width: 250px;
    max-width: 250px;
    float: right;
    position: relative;
}

.header{
    background-color: #333;
    overflow: hidden;
}

a{
    padding: 13px;
    background-color: #4CAF50;
    color:white;
    float: left;
    text-decoration: none;   
    
}

.header{
    width: 1400px;
    display: inline-block;
}

.bookImage{
    height: 60px;
    
}

.search{
    position: relative;
    float: left;
    height: 22px;
    margin-left: 50%;
    margin-top: 10px;
}