.header{
    display: grid;
    grid-template-columns: 1fr 30vw 20%;
    grid-template-rows: 2fr;
    grid-template-areas: 
        "links search account";
    background-color: #0A2342;  

    padding: 5px;
}

.signButton {
    color: white ;
    cursor: pointer;
    padding: 3%;
}
.signButton a{
    
    border-radius: 30px;
    padding: 5%;
}

.links a{
    grid-area: links;
    
    padding: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#linkToSignUp{
    color: white;
    text-decoration: none;
}

.signButtonContainer{
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 4vw ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "signin signup"
}


.loggedUserInfo{
    color:white;
}


.searchContainer{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "y sign search"
}
.searchContainer p{
    font-size: 1vw;
    color:white;
    grid-area: sign;
}
.search{
    grid-area: search;
    height:1vw;
}

